title{
    text-align: center;
}

body {
    background-color: rgba(39, 216, 7, 0.948);
}

h1 {
    color:blue;
    text-align: center;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

div{
    text-align: center;
}
ul{
    list-style-position: inside;
}