<!DOCTYPE html>
<html>
    <head>
        <title>Best Book Review Site</title>
        <link rel = "stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        
    </head>
    <body>


        <h1>
            Welcome to the Best Book Review Website on the Internet 
        </h1>

        {% if obj_book %}
    
            <h2>{{obj_book.title}}</h2>
            <p>{{obj_book.author}} | {{obj_book.year}} | {{obj_book.isbn}}</p>
            <p>
            Rating {{rating}} / 5 by {{count}} people
            </p>  
         
        
            {% if session['logged_in'] and not(status) %}
            <form action="{{url_for('book',isbn=obj_book.isbn)}}" method="POST">
                <input type="hidden" name="book_id" value="{{obj_book.id}}" />
            
                    {%if message %}
                    
                    <h4>{{message}}</h4>
                    
                    {%endif%}
                
                    <label for="select">Rating</label>
                    <select id="select" class="form-control" name="rating">
                        <option>5</option>
                        <option>4</option>
                        <option>3</option>
                        <option>2</option>
                        <option>1</option>
                    </select>
                
                    <h4>Review</h4>
                    <textarea
                    class="form-control"
                    rows="2"
                    name="review"
                    placeholder="Write your review..."
                    >
                    </textarea>
            
                <button>Submit</button>
            </form>
        {%endif%}  
        {% if reviews %} {%for review in reviews%}

        
            <h5>{{review.username}} | {{review.rating}}</h5>
            <h6>{{review.review}}</h6>
            
        {%endfor%} {%endif%}
        {%endif%}
        




        {%if session['logged in']%}
       
        <ul>
            <li>
                <a href = "{{url_for('Search')}}">Search</a>
            </li>
            <li>
                <a href = "{{url_for('books')}}">Books</a>
            </li>
        </ul>
        {% endif%}
        {%if not session ['logged_in']%}
        <ul>
            <li>
                <a href = "{{url_for('login')}}">Login</a>
            </li>
            <li>
                <a href = "{{url_for('signup')}}">Sign Up</a>
            </li>
        </ul>
        {%endif%}
        <a href = "{{url_for('search')}}">Return to the welcome page</a>
    </body>
    <a href="{{url_for('logout')}}">Logout</a>
</html>