<!DOCTYPE html>
<html>
    <body>

        <h1>
            Welcome to the Best Book Review Website on the Internet
        </h1>
        <p>
            Please search for the book that you would like here.
        </p>
        <input
            type = "text"
            class="form-control"
            name="search"
            placeholder = "please enter a name, author or ISBN number"
            required
        />
        {%if session['logged in']%}
        <p>Welcome, {{session['username']}}</p>
        <ul>
            <li>
                <a href = "{{url_for('Search')}}">Search</a>
            </li>
            <li>
                <a href = "{{url_for('books')}}">Books</a>
            </li>
        </ul>
        {% endif%}
        {%if not session ['logged_in']%}
        <ul>
            <li>
                <a href = "{{url_for('login')}}">Login</a>
            </li>
            <li>
                <a href = "{{url_for('signup')}}">Sign Up</a>
            </li>
        </ul>
        {%endif%}
        <a href = "{{url_for('search')}}">Return to the welcome page</a>
    </body>
    
</html>